{% extends 'main.html' %}
 {% block content %}

                  <!-- Edit form (hidden by default) -->
     <form method="post">
    {% csrf_token %}
    <div class="edit-form">
        {% for field in form %}
        <label for="id_name"> {{field.label}}</label>
         {{field}}
    </div>
         {% endfor %}
    <button class="save-button" type="submit">Register</button>
    <button class="cancel-button" onclick="window.location.href='{% url 'base:home' %}'" type="button">Cancel</button>
</form>


 {% endblock %}
